# Rust builds
/target
# This file contains environment-specific configuration like linker settings
.cargo/config.toml
.editorconfig
Cargo.lock

# Ignore mdBook build output but keep sources
book/*
!book/src/
!book/src/**
